body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(59, 59, 59);
}

a {
  text-decoration: none;
  color: rgb(59, 59, 59);
  font-weight: bold;
  font-size: 18px;
}

a:hover,
a:focus {
  color: rgb(180, 158, 200);
}

p,
h1,
h2 {
  margin: 0;
}

.load {
  text-align: center;
  margin-top: 90px;
}

button {
  background-color: rgb(235, 235, 235);
}
